html {
  scroll-behavior: smooth;
}

#nav{
  text-align:center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f5f4f1;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    display:inline;
}

li a {
    font-family: 'Montserrat'; font-size: 14px;
    font-weight: bold;
    display: block;
    color: #e56f62;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    display:inline-block;

}

li a:hover:not(.active) {
    color: #6e7ac5;
}

.active {
    background-color: #f5f4f1;
}

.image {
    width:100%;
    display: block;
}

#page1 {
}

#page2 {
}

#page3 {
}

#audio_player {
  margin: 0 auto;
}

#audio_container {
  background-color: #1a1923;
  width: 100%;
}



#audioplayer{
	width: 480px;
	height: 60px;
	margin: 50px auto auto auto;
  border: solid;
}

#pButton{
    height:60px;
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play{background: url('http://www.alexkatz.me/codepen/img/play.png') ;}
.pause{background: url('http://www.alexkatz.me/codepen/img/pause.png') ;}

#timeline{
	width: 400px;
	height: 20px;
	margin-top: 20px;
	float: left;
	border-radius: 15px;
	background: rgba(0,0,0,.3);

}
#playhead{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 0, 0,1);

}
